/* #components-avatar-demo-type .ant-avatar {
  margin-top: 16px;
  margin-right: 16px;
}*/

/* .centered-label {   display: inline-table;
    margin-top: -2%;
    background-position-x: 1%;
    height: 100px  */
    /* background-position: top left */
    /* align-items: center; */
    /* margin-left: 5px; */
    /* width: 10px; */
    /* margin-top: 1px; */
    /* padding-top: 0% */
     /* padding-inline-end: 0% */
 /* } */